body {
    margin: 0;
    font-family: Muli, sans-serif;
    margin: 0;

    background-color: #212940;
    color: $color-white;
    font-size: 17px;
    font-weight: 400;
}

#root {
    min-height: 100vh;

    $alpha: 0.6;
    background-color: rgba($color-indigo, 0.25);
}

h2 {
    font-size: 35px;
}

a {
    text-decoration: none;
}