.main-content {
    margin-top: -$header-height;
}

.main-background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 10%;
    transform: scaleX(-1);
}

.content {
    padding-top: 70px;

    & > .row {
        max-width: 900px;
        margin: auto;
        margin-top: 4em;
    
        $padding-x: 2rem;
        padding-right: $padding-x;
        padding-left: $padding-x;
    }
}

.btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
    border-radius: 5px;
    
    background-color: $color-red;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .main-background {
        background-position: 70% 10%;
    }
}