.discount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-box {
    background-color: $color-pink;
    padding: 10px 20px;
    
    font-weight: 600;
    font-size: 20px;
}

.discount-arrow {
    $dim: 20px;

    background-color: $color-pink;
    transform: rotate(45deg);
    width: $dim;
    height: $dim;
    margin-top: -($dim / 2);
}

.price {
    margin-top: 0 !important;

    padding-top: 20px;
    line-height: 1;
    
    h1 {
        margin: 0;
        font-size: 60px;
        span {
            line-height: 0.8;
            font-size: 150px;
        }
    }

    .col:last-child {
        h1 {
            margin: 0;
            font-size: 50px;
            margin-bottom: 20px;
        }
        
    }
}