.price {
    h1 {
        font-size: 60px;
    }
}

.discount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-box {
    background-color: $color-pink;
    padding: 10px 20px;
    
    font-weight: 600;
    font-size: 20px;
}

.discount-arrow {
    $dim: 30px;

    background-color: $color-pink;
    transform: rotate(45deg);
    width: $dim;
    height: $dim;
    margin-top: -($dim / 2);

    position: relative;
    z-index: -1;
}