.services {
    margin-top: 6rem !important;

    & > .col:not(:last-child) {
        margin-right: auto;

        p {
            padding-right: 20px;
        }
    }

    p {
        font-size: 15px;
    }
}